@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@100;300;400;500;700;900 & display=swap');

* {
    padding: 0;
    outline: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #79BEEE;
    background-image: linear-gradient(to top, #80e97960 20%, #b1fe7667 30%,#ADF5FF 50%);
    height: 100vh;
    position: relative;
}

main { 
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.39);

    min-width: 300px;
    max-width: 600px;

    min-height: 300px;
    max-height: 600px;

    position: absolute;
    
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    background-color: #57def0;
    text-align: center;
    border-top-right-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
}

h2 {
    padding: 10px 0px 10px 7px;
}

p {
    padding: 0px 7px 7px 7px;
    
}

abbr {
    text-decoration: underline;
    color: #79BEEE;
}

label {
    margin-bottom: 2px;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;

    margin-left: 8px;
}

#boto {
    width: 80px;
    padding: 1px;
    margin-top: 10px;
    margin-left: 4px;
}

#res {
    margin-top: 5px;
}