@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@100;300;400;500;700;900 & display=swap');

* {
    padding: 0;
    outline: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #79bdeec7;

}

h1 { 
    text-align: center;
    height: 500px;
    width: 100px;
    background-color: #8A84E2;
    color: white;
    text-shadow: 1px 1px 2px #55556b;
    position: absolute;
    
}

h2 { 
    display: inline-block;
    position: relative;
    
    font-size: 2em;
   

    padding-left: 112px;
    padding-top: 20px;
  
}

p { 
    font-size: 1.1em;
    padding: 20px 0px 25px 112px;
      
}

abbr {
    text-decoration: underline;
    color: #79BEEE;
}

input { 
    width: 200px;
    border-radius: 5px;
    border: 1px solid #55556b;
    padding: 1px;

    margin-top:10px;
    
    

}

label {
    padding-left: 10px;
    position: relative;
    font-weight: bolder;
}

form {
    display: inline-block;
    position: absolute;
    width: 290px;
    height: 100px;
    
    top: 180px;
    left: 2px;
    margin-left: 100px;
    
}

#nome {
    margin-left: 5px;
}

#peso {
    margin-left: 18.5px;
    margin-top: 5px;
}

#altura {
    margin-left: 5px;
}


#boto {
    width: 100px;
    border-color: #55556b49;
    padding: 3px;
    margin-left: 100px;
    margin-top: 20px;
}

#espaco {
    background-color: white;
    
    display: inline-block;
    width: 650px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
    

    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.315);
    border-radius: 10px;
}

#res {
    position: absolute;
    bottom: 50px;
    
}